<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAPT</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main">
        <div class="child1">
            <div class="image-text-container">
                <img src="images_port/download_2.png" alt="Small Image">
                <div class="text-content">
                    <nav>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>        
    </div>
    <div class="Buttons">
        <div>
            <button id="descriptionButton" class="button1"><span>DESCRIPTION</span></button>
            <button id="toolsButton" class="button1"><span>TOOLS</span></button>
        </div>
    </div>
    <div class="main2" id="descriptionContainer" style="display: none;">
        <div class="child2">
            <div class="description">
                <p id="para">A Web Application Penetration Testing (WAPT) toolkit consists of a collection of tools and resources used by security professionals to identify and exploit vulnerabilities in web applications. These tools help in conducting various types of tests and analyses to ensure the security and robustness of web applications. Below is a description of some common tools and resources included in a WAPT toolkit:</p>
            </div>
        </div>
    </div>
    
    <!-- Flashcards Container -->
    <div class="flashcards" id="flashcardsContainer">
        <div class="flashcard">
            <button class="flashButton">SQL Injection</button>
        </div>
        <div class="flashcard">
            <button class="flashButton">XSS</button>
        </div>
        <div class="flashcard">
            <button class="flashButton">CSRF</button>
        </div>
    </div>

    <!-- Flashcard Content Containers -->
    <div class="flashcard-content" id="sqlInjectionContent" style="display: none;">
        <div class="content">
            <button class="backButton button1"><span>BACK</span></button>
            <p>SQL Injection is a code injection technique that exploits a security vulnerability occurring in the database layer of an application.</p>
            <h1>Web Application Penetration Testing Toolkit</h1>
            <form class="scanForm" id="scanFormSql">
                <label for="urlSql">URL:</label>
                <input type="text" id="urlSql" name="url" required><br>
                <label for="paramSql">Parameter:</label>
                <input type="text" id="paramSql" name="param" required><br>
                <label for="scan_typeSql">Scan Type:</label>
                <select id="scan_typeSql" name="scan_type" required>
                    <option value="sql_injection">SQL Injection</option>
                </select><br>
                <button type="submit">Scan</button>
            </form>
            <div class="resultsColumn" id="resultsSql"></div>
        </div>
    </div>

    <div class="flashcard-content" id="xssContent" style="display: none;">
        <div class="content">
            <button class="backButton button1"><span>BACK</span></button>
            <p>Cross-Site Scripting (XSS) is a security vulnerability that allows an attacker to inject malicious scripts into content from otherwise trusted websites.</p>
            <h1>Web Application Penetration Testing Toolkit</h1>
            <form class="scanForm" id="scanFormXss">
                <label for="urlXss">URL:</label>
                <input type="text" id="urlXss" name="url" required><br>
                <label for="paramXss">Parameter:</label>
                <input type="text" id="paramXss" name="param" required><br>
                <label for="scan_typeXss">Scan Type:</label>
                <select id="scan_typeXss" name="scan_type" required>
                    <option value="xss">XSS</option>
                </select><br>
                <button type="submit">Scan</button>
            </form>
            <div class="resultsColumn" id="resultsXss"></div>
        </div>
    </div>

    <div class="flashcard-content" id="csrfContent" style="display: none;">
        <div class="content">
            <button class="backButton button1"><span>BACK</span></button>
            <p>Cross-Site Request Forgery (CSRF) is an attack that forces an end user to execute unwanted actions on a web application in which they are currently authenticated.</p>
            <h1>Web Application Penetration Testing Toolkit</h1>
            <form class="scanForm" id="scanFormCsrf">
                <label for="urlCsrf">URL:</label>
                <input type="text" id="urlCsrf" name="url" required><br>
                <label for="paramCsrf">Parameter:</label>
                <input type="text" id="paramCsrf" name="param" required><br>
                <label for="scan_typeCsrf">Scan Type:</label>
                <select id="scan_typeCsrf" name="scan_type" required>
                    <option value="csrf">CSRF</option>
                </select><br>
                <button type="submit">Scan</button>
            </form>
            <div class="resultsColumn" id="resultsCsrf"></div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
    console.log("Page is fully loaded and the background image is fixed.");

    const descriptionButton = document.getElementById('descriptionButton');
    const toolsButton = document.getElementById('toolsButton');
    const descriptionContainer = document.getElementById('descriptionContainer');
    const flashcardsContainer = document.getElementById('flashcardsContainer');

    // Flashcard content containers
    const sqlInjectionContent = document.getElementById('sqlInjectionContent');
    const xssContent = document.getElementById('xssContent');
    const csrfContent = document.getElementById('csrfContent');

    // Back buttons for each content div
    const backButtons = document.querySelectorAll('.backButton');

    descriptionButton.addEventListener('click', function() {
        if (descriptionContainer.style.display === 'none' || descriptionContainer.style.display === '') {
            descriptionContainer.style.display = 'block';
            flashcardsContainer.style.display = 'none'; // Hide flashcards when description is shown
            sqlInjectionContent.style.display = 'none'; // Hide flashcard content when description is shown
            xssContent.style.display = 'none';
            csrfContent.style.display = 'none';
        } else {
            descriptionContainer.style.display = 'none';
        }
    });

    toolsButton.addEventListener('click', function() {
        if (flashcardsContainer.style.display === 'none' || flashcardsContainer.style.display === '') {
            flashcardsContainer.style.display = 'block';
            descriptionContainer.style.display = 'none'; // Hide description when flashcards are shown
            sqlInjectionContent.style.display = 'none'; // Hide flashcard content when flashcards are shown
            xssContent.style.display = 'none';
            csrfContent.style.display = 'none';
        } else {
            flashcardsContainer.style.display = 'none';
        }
    });

    const flashButtons = {
        "SQL Injection": sqlInjectionContent,
        "XSS": xssContent,
        "CSRF": csrfContent
    };

    document.querySelectorAll('.flashButton').forEach(button => {
        button.addEventListener('click', function() {
            const contentDiv = flashButtons[this.textContent];
            flashcardsContainer.style.display = 'none';
            contentDiv.style.display = 'block';
        });
    });

    // Add event listener to all back buttons
    backButtons.forEach(button => {
        button.addEventListener('click', function() {
            sqlInjectionContent.style.display = 'none';
            xssContent.style.display = 'none';
            csrfContent.style.display = 'none';
            flashcardsContainer.style.display = 'flex';
        });
    });

    // Handle form submissions for SQL Injection
    document.getElementById('scanFormSql').addEventListener('submit', function(event) {
        event.preventDefault();
        const url = document.getElementById('urlSql').value;
        const param = document.getElementById('paramSql').value;
        const scan_type = document.getElementById('scan_typeSql').value;

        fetch('/scan', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'url': url,
                'param': param,
                'scan_type': scan_type
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('SQL Injection scan results:', data);
            const resultsDiv = document.getElementById('resultsSql');
            resultsDiv.innerHTML = '';
            data.forEach(result => {
                const p = document.createElement('p');
                p.textContent = result;
                resultsDiv.appendChild(p);
            });
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });

    // Handle form submissions for XSS
    document.getElementById('scanFormXss').addEventListener('submit', function(event) {
        event.preventDefault();
        const url = document.getElementById('urlXss').value;
        const param = document.getElementById('paramXss').value;
        const scan_type = document.getElementById('scan_typeXss').value;

        fetch('/scan', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'url': url,
                'param': param,
                'scan_type': scan_type
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('XSS scan results:', data);
            const resultsDiv = document.getElementById('resultsXss');
            resultsDiv.innerHTML = '';
            data.forEach(result => {
                const p = document.createElement('p');
                p.textContent = result;
                resultsDiv.appendChild(p);
            });
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });

    // Handle form submissions for CSRF
    document.getElementById('scanFormCsrf').addEventListener('submit', function(event) {
        event.preventDefault();
        const url = document.getElementById('urlCsrf').value;
        const param = document.getElementById('paramCsrf').value;
        const scan_type = document.getElementById('scan_typeCsrf').value;

        fetch('/scan', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'url': url,
                'param': param,
                'scan_type': scan_type
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('CSRF scan results:', data);
            const resultsDiv = document.getElementById('resultsCsrf');
            resultsDiv.innerHTML = '';
            data.forEach(result => {
                const p = document.createElement('p');
                p.textContent = result;
                resultsDiv.appendChild(p);
            });
        })
        .catch(error => {
            console.error('There has been a problem with your fetch operation:', error);
        });
    });
});

    </script>
</body>
</html>
